@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /*Fonts*/
    --font-manrope: "Manrope", sans-serif;
}

/* Colors */
$orange: #d87d4a;
$light-orange: #fbaf85;
$black: #101010;
$gray: #f1f1f1;
$light-gray: #fafafa;
$dark-gray: #a09e9e;
$white: #ffffff;